<div class="link-wrapper">
  {% if site.platforms %}
  <ul class="link">
  {%- for platform in site.platforms %}
  <li style="margin-bottom: 10px; display: flex; align-items: center;">
    <nobr>
      <a href="{{ platform.link }}" rel="me" style="text-align: left; font-size: 1.1em;">
        <span style="font-size: 1.1em; margin-right: 8px;">{{ platform.icon }}</span>
        {{ platform.content }}
      </a>
    </nobr>
  </li>
  {%- endfor %}
  </ul>
  {% endif %}

  <!-- {% if site.navigation %}
  <h3 class="sidebar-h3">Contents:</h3>
  <ul class="content">
  {%- for item in site.navigation %}
    <li><a href="{{ item.link }}">{{ item.name }}</a>
        {% if item.sublist %}
        <ul class="sublist">
            {%- for subitem in item.sublist %}
            <li><a href="{{ subitem.link }}">{{ subitem.name }}</a></li>
            {%- endfor %}
        </ul>
        {% endif %}
    </li>
  {%- endfor %}
  </ul>
  {% endif %} -->

  <div class="toggle-wrapper">
    <span>Dark Mode</span>
    <label class="switch">
      <input type="checkbox" id="theme-toggle">
      <span class="slider round"></span>
    </label>
  </div>
</div>

<style>
  .link a {
    color: inherit; /* Ensure the link inherits the color */
    text-decoration: none; /* Remove underline */
  }
</style>